<h1>User Services</h1>
<label><strong>Enter User ID (Temporary decision)</strong> </label>
<input type="text" placeholder="User ID" [(ngModel)]="userId" />
<button class="btn" (click)="enterAsUser()">Enter as user</button>
<h2 *ngIf="user">
  {{ "Hello, " + user.name + " " + user.surname + "!" }}
</h2>

<div class="container">
  <div class="form-control">
    <label>Choose service</label>
    <select [(ngModel)]="choosenService" (change)="onServiceChange($event)">
      <option value="none"></option>
      <option value="findBookByTitle">Find book by title</option>
      <option value="findBookByAuthor">Find book by author</option>
      <option value="findBookByIsAvailable">Find book by available</option>
      <option value="showAllBooks">Show all books</option>
      <option value="showUserBooks">Show User books</option>
    </select>
  </div>
</div>

<div *ngIf="choosenService === 'findBookByTitle'" class="form-control">
  <label>Enter whole title or just a fragment</label>
  <input type="text" placeholder="Title" [(ngModel)]="searchingFragment" />
  <button class="btn" (click)="findBookByTitle()">Find</button>
</div>

<div *ngIf="choosenService === 'findBookByAuthor'" class="form-control">
  <label>Enter whole author's name or just a fragment</label>
  <input type="text" placeholder="Author" [(ngModel)]="searchingFragment" />
  <button class="btn" (click)="findBookByAuthor()">Find</button>
</div>

<div *ngIf="choosenService === 'findBookByIsAvailable'" class="form-control">
  <label>Choose book's status</label>
  <select [(ngModel)]="isAvailable" (change)="isAvalableChange($event)">
    <option value="true">Available</option>
    <option value="false">Not available</option>
  </select>
  <button class="btn" (click)="findBookByIsAvailable()">Find</button>
</div>

<div *ngIf="choosenService === 'showAllBooks'" class="form-control">
  <label>Show all books in library</label>
  <button class="btn" (click)="showAllBooks()">Show</button>
</div>

<div *ngIf="choosenService === 'showUserBooks'" class="form-control">
  <label>Show User Books</label>
  <button class="btn" (click)="showUserBooks()">Show User Books</button>
</div>

<div *ngIf="isLoadingBooks; else loadedblock">
  <h3>Loading...</h3>
</div>

<ng-template #loadedblock>
  <h4 *ngIf="isHavingBooks">Library doen't have such book(s)</h4>
  <div class="card" *ngFor="let book of books">
    <h4>
      <a>
        <p>{{ book.title }}</p>
        <p>by {{ book.author }}</p>
        <p *ngIf="book.isAvailable; else notAvailable">Book is available</p>
        <ng-template #notAvailable>
          <p class="uncompletedColor">Book is not available</p>
        </ng-template>
      </a>
      <button
        class="btn"
        [disabled]="!book.isAvailable"
        (click)="orderBook(book)"
      >
        Order book
      </button>
      <button
        *ngIf="choosenService === 'showUserBooks'"
        class="btn"
        [disabled]="book.isAvailable"
        (click)="returnBook(book)"
      >
        Return book
      </button>
    </h4>
  </div>
</ng-template>
